
*{
    padding: 0px;
    margin: 0px;
}

.container{

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(47,10,163),rgb(48,62,143))
}